.logo-name {
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
 }
 nav{
   box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
 }
a{
   text-decoration: none; 
}
 .navbar-collapse .navbar-nav > li > a {
   font-family: 'Red Hat Text', sans-serif;
   margin-left: 15px;
   letter-spacing: 2px;
   font-size: 15px;
   color: black;
}
.site-footer{
  background-color: #eefaff;
  padding-top: 50px;
}
.site-footer a{
  font-weight: 300;
  color: #0d6efd;
  text-decoration: none; 

}
.fab{
  color: #0d6efd;
  width: 3vh;
}
.navbar-collapse .navbar-nav > li > a:hover {
   color: #0d6efd;
}
.image img{
  margin-top: 10vh;
}
.heading_Formation {
  margin-top: 20vh;
  line-height: 0.5;
  font-weight: 700;
  color: #000000;
  text-decoration: none; 
  font-size: clamp(2rem, 2.5vw, 4rem); }
.item {
  width: 70vh;
  align-items: center;
}
.button-connecter a{
   padding: 10px 24px;
   letter-spacing: 2px;
   border: 1px solid transparent;
   background: #0d6efd;
   color: white !important;
   border-radius: 30px; 
   letter-spacing: 1px;
}
.button-connecter a:hover{
   border: 1px solid #0d6efd;
   background: white;
   color: #0d6efd !important;
}
.acc {
   background: url(../Pictures/bg-1.webp);
   min-height: 100vh;
   background-position: center;
   right: 0;
   left: 0;
   z-index: 1030;
 }
.btn {
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 30px;
   font-size: 11px;
   text-transform: uppercase;
   font-weight: 700; }

.btn:active, .btn:focus {
     outline: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important; }

.btn.btn-primary {
     background: #0d6efd;
     border-color: #0d6efd; }

.btn.btn-primary:hover {
       border-color: #0d6efd;
       background: #0d6efd; }

.btn.btn-outline-primary {
     border-color: #0d6efd;
     color: #0d6efd; }

.btn.btn-outline-primary:hover {
       background-color: #0d6efd;
       color: #ffffff; }
.heading_acc {
        margin-top: 25vh;
        line-height: 1.5;
        font-weight: 700;
        color: #000000;
        text-decoration: none; 
        margin-bottom: 5vh;
        font-size: clamp(2rem, 2.5vw, 4rem); }

.heading {
         margin-top: 20vh;
         line-height: 1.5;
         font-weight: 700;
         color: #000000;
         text-decoration: none; 
         margin-bottom: 5vh;
         font-size: clamp(2rem, 2.5vw, 4rem); }
.heading_Formation {
          line-height: 1.5;
          font-weight: 700;
          color: #000000;
          text-decoration: none; 
          font-size: clamp(2rem, 2.5vw, 4rem); }
.caption {
            color: #107BE9;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block; }
.excerpt {
   margin-bottom: 5vh; }
               
.Service{
  background: url(../Pictures/bg-2.webp);
  background-size: 100% 100%;
  color: #000000;
  background-position: center;
  right: 0;
  left: 0;
  height: auto;
  width: auto;
  }

  .service .service-icon {
  font-size: 24px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  position: relative;
  color: #ffffff; }
  .service .service-icon.color-1 {
    background-color: #6fe7dd;
    -webkit-box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3);
    box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3); }
  .service .service-icon.color-2 {
    background-color: #ffc93c;
    -webkit-box-shadow: 0 2px 10px 0 rgba(255, 201, 60, 0.3);
    box-shadow: 0 2px 10px 0 rgba(255, 201, 60, 0.3); }
  .service .service-icon.color-3 {
    background-color: #f73859;
    -webkit-box-shadow: 0 2px 10px 0 rgba(247, 56, 89, 0.3);
    box-shadow: 0 2px 10px 0 rgba(247, 56, 89, 0.3); }
  .service .service-icon.color-4 {
    background-color: #107BE9;
    -webkit-box-shadow: 0 2px 10px 0 rgba(16, 123, 233, 0.3);
    box-shadow: 0 2px 10px 0 rgba(16, 123, 233, 0.3); }
  .service .service-icon > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.service .service-contents h3 {
  font-size: 18px;
  font-weight: 600; 
  color: #000000;}
  .service .service-contents p {

    color: grey;}
  .serv{
    background: rgba(255, 255, 255, 0.8);
  }

.service.horizontal .service-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  font-size: 20px; }

.service.link {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 7px; }
  .service.link .service-contents {
    color: #939393; }
    .service.link .service-contents *:last-child {
      margin-bottom: 0; }
  .service.link:hover, .service.link.active {
    background: #ffffff;
    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.05); }
  .service.link.active {
    position: relative;
    overflow: hidden; }
    .service.link.active:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 4px;
      background: #107BE9; }


      .service .service-icon {
         font-size: 24px;
         display: inline-block;
         width: 50px;
         height: 50px;
         border-radius: 30%;
         position: relative;
         color: #ffffff; }
         .service .service-icon.color-1 {
           background-color: #6fe7dd;
           -webkit-box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3);
           box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3); }
         .service .service-icon.color-2 {
           background-color: #ffc93c;
           -webkit-box-shadow: 0 2px 10px 0 rgba(255, 201, 60, 0.3);
           box-shadow: 0 2px 10px 0 rgba(255, 201, 60, 0.3); }
         .service .service-icon.color-3 {
           background-color: #f73859;
           -webkit-box-shadow: 0 2px 10px 0 rgba(247, 56, 89, 0.3);
           box-shadow: 0 2px 10px 0 rgba(247, 56, 89, 0.3); }
         .service .service-icon.color-4 {
           background-color: #107BE9;
           -webkit-box-shadow: 0 2px 10px 0 rgba(16, 123, 233, 0.3);
           box-shadow: 0 2px 10px 0 rgba(16, 123, 233, 0.3); }
         .service .service-icon > svg {
           position: absolute;
           top: 50%;
           left: 50%;
           -webkit-transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%); }
       
       .service .service-contents h3 {
         font-size: 18px;
         font-weight: 600; }
       
       .service.horizontal .service-icon {
         -webkit-box-flex: 0;
         -ms-flex: 0 0 40px;
         flex: 0 0 40px;
         margin-right: 30px;
         width: 40px;
         height: 40px;
         font-size: 20px; }
       
       .service.link {
         padding: 20px;
         margin-bottom: 10px;
         border-radius: 7px; }

         .service.link .service-contents {
           color: #939393; }

           .service.link .service-contents *:last-child {
             margin-bottom: 0; }

         .service.link:hover, .service.link.active {
           background: #ffffff;
           -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.05);
           box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.05); }
           
         .service.link.active {
           position: relative;
           overflow: hidden; }
           .service.link.active:after {
             content: "";
             position: absolute;
             right: 0;
             bottom: 0;
             top: 0;
             width: 4px;
             background: #107BE9; }


.contact-section{
              min-height: 100vh;
              background-size: cover;
              background-position: center;
              right: 0;
              left: 0;}

.apropos-section{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  right: 0;
  left: 0;}

.contact-info{
    text-align: center;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.4rem 0;
    padding: 0.5rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 1rem;
    color: #0d6efd;
}
.map iframe{
    height: 30vh;
    width: 100%;
    filter: invert(1) grayscale(100%)
}
@media screen and (min-width: 768px){
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}





@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}

header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

        

















